body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.811);
}

.navigate{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.about-us, .menu, .capability, .search-menu{
    padding-top: 3.5%;
}

.logo{
    width: 20%;
    margin-left: 2%;
}
.logo img{
    width: 100%;
}

.cart{
    margin-right: 2%;
    margin-top: 0.8%;
}

.cart-button{
    border-radius: 50px;
    padding: 12px 24px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border: 2px solid #60BA62;
}

.cart-button:hover{
    background-color: #60BA62;
    color: white;
}

.body1{
    background-image: url("homebkground.jpg");
    height: 610px;
    background-position: center;
}

.text-heading-h1{
    margin: 0;
    font-size: 450%;
    margin-left: 3.5%;
    padding-top: 7%;
    margin-right: 60%;
}

.colored{
    color: #60BA62;
}

.text-subtitle{
    margin-left: 3.5%;
    margin-right: 60%;
    font-size: 115%;
}

.learn-more{
    margin-left: 3.5%;
}

.learn-more-button{
    padding: 1% 5%;
    font-size: 100%;
    background-color: #60BA62;
    color: white;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
}

.learn-more-button:hover,.compare-button:hover,.order-button-1:hover{
    background-color: #8fe590;
    color: white;
}

.page-part2{
    margin-top: 5%;
}

.text-heading-2{
    margin-left: 42%;
    font-size: 120%;
}

.working-details{
    display: flex;
}

.fav,.deliver,.eat{
    width: 33%;
    padding: 1% 5%;
    text-align: center;
}

.detail-heading{
    padding-top: 15px;
    font-size: 105%;
    font-weight: bold;
}

.food-menu{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.food-item-img{
    height: 60%;
    margin-left: 10%;
}

.food-item-name{
    margin: 5% 0% 0% 20%;
    font-size: 105%;
}

.fi-a:active,.fi-a:visited{
    color: black;
}

.select-program{
    display: flex;
    border-top: #8fe590 solid 2px;
    background-image: url(select-program-background.jpg);
}

.left{
    margin-left: 5%;
}

.text-heading-3{
    font-size: 150%;
    margin-right: 20%;
}

.weight,.result,.vegan,.compare{
    padding: 20px 50px 20px 0;
}

.w,.r,.v,.compare-button{
    padding: 5% 2%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
    color: #60BA62;
    font-weight: 600;
    border: 2px solid #60BA62;
}

.compare-button{
    color: white;
    background-color: #60BA62;
}

.cost{
    margin-top: 5%;
}

.top{
    display: flex;
    justify-content: center;
}

.middle,.order{
    display: flex;
    justify-content: space-around;
}

label{
    padding: 1% 0;
    font-size: 110%;
    font-weight: 600;
}

.program-type{
    width: 25%;
    margin-left: 1%;
    padding: 1% 1%;
    font-size: 110%;
    font-family: 'Montserrat', sans-serif;
    color: #60BA62;
    font-weight: 600;
    border: 2px solid #60BA62;
}

.test-day,.one-week,.one-month{
    width: 10%;
    padding: 1% 5%;
    text-align: center;
    margin: 4% 4% 0 4%;
}

.test-day,.one-month{
    border: 1px solid #60BA62;
}

.one-week{
    border: 1px solid #F7CA19;
}

.label{
    font-weight: 500;
}

#price1, #price2, #price3{
    font-size: 250%;
    font-weight: bolder;
    padding: 10% 0 1% 0;
}

#time-period1, #time-period2, #time-period3{
    margin-bottom: 10%;
}

.meals, .calories, .diet{
    margin-bottom: 10%;
    width: 170%;
    margin-left: -35%;
}

.colored-y{
    color: #F7CA19;
}

.order-button-1,.order-button-2{
    width: 20.2%;
    margin-bottom: 4%;
    padding: 1% 5%;
    font-size: 100%;
}

.order-button-1{
    background-color: #60BA62;
    border: 1px solid #60BA62;
    color: white;
}

.order-button-2{
    background-color: #F7CA19;
    border: 1px solid #F7CA19;
    color: white;
}

.order-button-2:hover{
    background-color: #edd679;
    border: 1px solid #edd679;
}

.blank{
    background-image: url(./video-bg.jpg);
    height: 538px;
}

.blank-text{
    background-color: rgba(0, 0, 0, 0.537);
    padding-bottom: 41%;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breakfast{
    background-image: url(./breakfast.jpeg);
    width: 21%;
}

.dessert{
    background-image: url(./dessert.jpg);
    width: 21%;
}

.dinner{
    background-image: url(./dinner.jpeg);
    width: 21%;
}

.meat-and-fish{
    background-image: url(./meat-and-fish.jpg);
    width: 21%;
}

.lunch{
    background-image: url(./lunch.jpeg);
    width: 21%;
}

.salad{
    background-image: url(./salad.jpg);
    width: 21%;
}

.soup{
    background-image: url(./soup.jpg);
    width: 21%;
}

.vegetarian{
    background-image: url(./vegetarian.jpeg);
    width: 21%;
}

.menu-images-1,.menu-images-2{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.menu-images-1{
    margin-top: 5%;
}

.menu-images-2{
    margin-top: 3.5%;
}

.menu-labels{
    padding: 46.6% 0;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    color: white ;
    background-color: rgba(0, 0, 0, 0.537);
}

.text-heading-4,.text-heading-5{
    margin-top: 5%;
    font-size: 140%;
    font-weight: bold;
}

.text-heading-5{
    margin-bottom: 2.5%;
}

.member-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-detail{
    margin: 0 25% 5% 25%;
    font-size: 100%;
    text-align: center;
}

.member{
    display: flex;
    justify-content: space-around;
    margin: 0 15%;
}

.m-img{
    border-radius: 100%;
    border: 1px solid #60BA62;
}

.m-name{
    margin: 10% 0 2.5%;
    font-size: 120%;
    font-weight: bold;
}

.m1,.m2,.m3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m-position{
    font-size: 100%;
}

.blog{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    /* padding-top: 5%; */
    background-color: rgb(235, 226, 226);
}

.text-heading-6{
    padding: 5%;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
}

.blog-img,.blog-detail{
    display: flex;
    justify-content: space-between;
}

.bi,.bd{ 
    width: 350px;
}

.bd{
    margin-left: 20px;
    margin-right: 20px;
    width: 250px;
    border-radius: 5px;
    padding: 1% 2%;
    position: relative;
    top: -50px;
    background-color: white;
}

.head{
    font-size: 120%;
    font-weight: bold;
}

.date,.description,.foot{
    font-size: 90%;
}

.foot{
    display: flex;
    justify-content: space-between;
}

.rm,.rm:visited,.rm:active{
    color: #60BA62;
}

.download{
    display: flex;
    padding: 10% 15% 5% 15%;
}

.download-text{
    padding: 10% 0 10% 10%;
}

#app{
    font-size: x-large;
}

.download-heading{
    font-size: xx-large;
}

.download-detail{
    font-size: 125%;
}

.available{
    display: flex;
    margin-right: 25%;
    justify-content: space-between;
}

.f-top{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: flex;
    background-color: #60BA62;
    justify-content: space-between;
}

.ft-left{
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.ftl-logo{
    width: 100%;
}

.ft-middle{
    display: flex;
    width: 65%;
    justify-content: space-around;
    color: white;
}

.tag{
    font-weight: bold;
}

.f-link,.f-link:visited{
    font-weight: 500;
    color: white;
}

.ft-right{
    display: flex;
    width: 15%;
    align-items: center;
    margin: 0 2.5% 2.5% 2.5%;
}

.facebook,.twitter,.google,.instagram,.cloud{
    width: 25%;
}

.icon-img{
    width: 15px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid cornflowerblue;
    padding: 10%;
}

.f-bottom{
    background-color: #429C44;
    padding: 1%;
    text-align: center;
    color: white;
}